html{
  font-size: 16px;
  font-family: "Helvetica", serif;
  max-width: 1240px;
}
body{
   margin: 0 auto;
   line-height: 1.4;
}
 /*--header --*/

.container{
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 4rem;
  background: white;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  border-bottom: 0.8rem solid white;
}

header .menu{
text-align: left;
}
header .menu a{
  display: inline-block;
  font-size: 1rem;
  font-family: "Helvetica", sans-serif;
  margin-right: 1rem;
  color: #595B5C;
}
header .menu a:hover{
  color:#D6DBDF;
}
.logo{
display: inline-block;
height: 2rem;
margin-left: 1.5rem;
}
.gris{
   color: #EBEDEF;
}
 .mobil{
display: none;
}

/*--main-container--*/

.main-container{
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 30rem;
  background-color: #EBEDEF;
  overflow: hidden;
}

.main-banner{
   display: flex;
   width: 60%;
}

 .banner img{
   width: 60%;
   vertical-align: top;
   padding: 2rem 1.5rem;
}
.informacion{
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 5rem;
}
.texto{
  display:block;
}
.texto h1{
 font-size: 1.5rem;
 color:#060708;
}
.texto p{
 font-size: 1rem;
 line-height: 1.1;
 color:#868B90;
}
.star{
  display: inline-block;
}
.btn{
   background-color: #4F5050;
   color:#EFF3F6;
   margin: 0.5rem 0;
   display: inline-block;
   padding: 0.4rem 5rem;
}
.btn:hover{
   padding: 1rem 8rem;
}

/*--main uno--*/

.main{
  display: flex;
  width: 100%;
  background-color: #F6F8FA
  overflow: hidden;
  margin: 2rem 0;
}
.flex-container{
   display: block;
   width: 100%;
   margin: 2rem 1rem;
}

.information img{
   width: 60%;
}
.keep{
   padding: 2rem 0 1.5rem 0;
   width: 60%;
}
.keep h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: #060708;
  margin-bottom: 1.5rem;
}
.keep p{
  font-size: 1rem;
  color:#868B90;
  margin-bottom: 2rem;
}
/*--tre imagenes--*/

.imagenes{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 1rem;
}
.imagen{
  width: 65%;
}
.imagen img{
  width: 35%;
  padding: 1rem 1rem;
  height: auto;
  float: left;
}
.imagen h3{
text-align: center;
font-size: 1.2rem;
font-weight: bold;
color: #060708;
padding: 1rem 1rem;
margin-bottom:0.5rem;
}
.imagen p{
text-align: center;
font-size: 0.8rem;
color: #868B90;
padding: 1rem 1rem;
}
.tres{
  background-color: #EBEDEF;
}
.azul{
  color:#83BFFC;
}
/*--trabajos--*/
 .main-dos{
   background-color: #EBEDEF;
   width: 100%;
   height: 45%;
}
.titulo{
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
}
.contenedor-trabajo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 4.5rem;
}
 .trabajo{
  width: 30%;
  height: auto;
}
 .foto img{
  width: 80%;
}
.descripcion{
   margin-bottom: 6rem;
   background: #FAFAFB;
   width: 75%;
   text-align: left;
   padding: 1rem 0 0 1rem;
}
.nombre{
  font-size: 1rem;
  font-weight: bold;
  color: #080809;
  padding-bottom: 0.5rem;
}
.uno{
  font-size: 1rem;
  color: #868B90;
  padding-bottom: 0.5rem;
}
.categoria{
  font-size: 1rem;
  color: #868B90;
  padding-bottom: 0.5rem;
}
.fin{
  font-size: 1rem;
  color: #868B90;
  padding-bottom: 1.5rem;
}


/*--main two--*/

.main-two{
   width: 100%;
   display: flex;
   height: 40rem;
}
.nuevo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.titulo-one{
  text-align: right;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}
 .information-two video{
  width: 100%;
}
.flex-container-two{
   width: 60%;
   margin: 2rem 1rem;
}
.keep-two{
   padding: 2rem 0 1.5rem 0;
   width: 100%;
}
.keep-two h6{
  font-size: 1.5rem;
  font-weight: bold;
  color: #060708;
  margin-bottom: 1.5rem;
}
.keep-two p{
  font-size: 1rem;
  color:#868B90;
  margin-bottom: 2rem;
}

/*--main-two imagenes--*/

.imagenes-two{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 8rem;
}
.imagen-two{
  width: 65%;
}
.imagen-one{
  width: 65%;
  background-color: #BDC1C4;
}
.imagen-one img{
  width: 35%;
  padding: 1rem;
  height: auto;
  float: left;
}

.imagen-two img{
  width: 35%;
  padding: 1rem;
  height: auto;
  float: left;
}
.imagen-one h4{
text-align: left;
font-size: 1rem;
font-weight: bold;
color: #060708;
padding: 2rem 0;
}
.imagen-one p{
text-align: left;
font-size: 0.8rem;
color: #868B90;
line-height: 1.2;
}
.imagen-two h4{
text-align: left;
font-size: 1rem;
font-weight: bold;
color: #060708;
padding: 2rem 0;
}
.imagen-two p{
text-align: left;
font-size: 0.8rem;
color: #868B90;
}


/*--footer--*/
.todo{
   display: flex;
   margin: 2rem 0;
}
.pie-pagina{
  width: 100%;
  display: flex;
  color: #868B90;
  height: 4rem;
  margin-left: 1.5rem;
}
.pie{
  padding: 1rem 0;
}

.pagina{
  display:flex;
}
.ultimo{
  text-align: left;
  color: #868B90;
  padding: 1rem 0.5rem 0 0;
}
