html{
  font-size: 16px;
  font-family: "Helvetica", serif;
}
body{
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.contenedor{
  margin: 0 1rem;

}
.container{
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
}
header .menu a{
  font-size: 1rem;
  font-family: "Helvetica", sans-serif;
  margin-right: 9rem;
}
.logo img{
  height: 2rem;

}


.mobil{
display: none;
}

.main-container{
  display: flex;
  width: 100%;
  background-color: #EBEDEF;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}

.main-banner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

}
 .main-banner img{
  width: 60%;
  padding: 2rem 1.5rem;
  float: left;
}
.texto{
  display: flex;
  width: 40%;
  position: relative;
  top: 16rem;
  right: 16rem;

}

.texto h1{
  font-size: 2rem;
  font-family: "Hevetica",serif;
  color:black;
}
.texto p{

}

.boton span{
  color:white;
  margin: 1.5rem 0;
  background: black;
}

.main {
  display: flex;
  width: 100%;
  background-color: white;
}
.flex-container{
  display: flex;
  width: 60%;
  height: 20rem;
  margin: 2rem 1rem;
}
.flex-container h2{
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
.flex-container p{
  width: 100%;
  padding: 1rem;
}
.flex-container img {
  width: 60%;
}
.imagenes{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 15rem;
}
.imagen img{
  width: 35%;
  height: auto;
  float: left;
}
.imagen h2{

}
.tres{
  background-color: #EBEDEF;
}
.main-dos{
  display: flex;
  background-color: #EBEDEF;
  width: 100%;
  height:auto;
  margin: 2rem auto;
}
.fotos{
  display:inline-flex;
  position: relative;
  justify-content: center;
  height: 80rem;
  margin: 2rem 4.5rem;
  overflow: hidden;
}
.fotos img{
  height: auto;
  padding-left: 2rem;
}
.foto img{
  display: inline-flex;
  padding: 1rem 2rem;
}
.main-tres{
  display: flex;
  width: 100%;
  justify-content: center;
}
.flex-video{
  display:flex;
  width: 100%;
  margin: 2rem 1.5rem;
}
.flex-thesis{
  display:flex;
  flex-direction: column;
  width: 40%;
}
.thesis img{
  width: 65%;
  padding: 1rem;
}
.primero{
  background-color: #EBEDEF;
}
